/* Imports */
@font-face {
  font-family: 'merchandise';
  src: url(assets/fonts/Merchandise-X31Za.ttf);
}

@font-face {
  font-family: 'bistern';
  src: url(assets/fonts/Bisterndemo-PKlBZ.otf);
}

@font-face {
  font-family: 'hemera';
  src: url(assets/fonts/HemeraIiDemoRegular-ZY73.ttf);
}

@font-face {
  font-family: 'kickd';
  src: url(assets/fonts/KickedDisplayDemo-1GrR2.ttf);
}

/* fonts */
.f-merchandise{
  font-family: 'merchandise', sans-serif
}

.f-bistern{
  font-family: 'bistern', serif
}

.f-hemera{
  font-family: 'hemera', sans-serif;
}

.f-kickd{
  font-family: 'kickd', sans-serif;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}


img {
  width: 20rem;
  margin: auto;
  display: block;
}

.main_container {
  min-width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffcd;
  color: #1d1d1d;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.first_view_container {
  padding: 1rem;
}

.input_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.input_box {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  font-family: bistern;
}

.input_box label {
  margin-bottom: 0.5rem;
}

.input_box input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(238, 178, 14, 0.1);
  border: none;
}

.heading {
  font-size: 2.25rem;
  text-align: center;
  font-weight: 500;
  color: #d06f03;
}

#submit-button {
  
  background-color: #d06f03;
  color: #ffffcd;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(238, 178, 14, 0.1);
  transition: all 0.3s;
}

#submit-button:hover {
  background-color: #e2a500;
  color: #000;
}

.share-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #d06f03;
  color: #ffffcd;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(238, 178, 14, 0.1);
}

.buttons_container{
  display: flex;
  row-gap: 0.5rem;  
  column-gap: 0.5rem;
  justify-content: center;
  flex-direction: row;
}

#result {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 500;
  color: #d06f03;
  text-align: center;
  margin-bottom: 1rem;
  background-color: #efefb6;
}

.description {
  max-width: 35rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.full_form {
  text-align: center;
  color: #383838;
  margin-bottom: 2rem;
  font-weight: 200;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 3rem;
  border-top: 1px solid rgb(81, 80, 80);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffcd;
}

.footer a {
  width: 100px;
}

.footer a img {
  width: 100px;
  height: 60%;
  margin-left: 40px;
}

.social_container {
  width: max-content;
  height: 100%;
  display: flex;
  gap: 15px;
  margin-right: 20px;
}

.footer .social_container a {
  height: 100%;
  width: max-content;
  color: #383838;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
}

.disclaimer {
  text-align: center;
  color: #383838;
  margin-top: 1rem;
}


.content-div{
  background-color: #f9f9cb;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .footer a img {
    margin-left: 14px;
  }
  .footer .social_container {
    gap: 8px;
  }
  .content-div{
    border: 0;
    background-color: transparent;
  }
  .disclaimer{
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 500px) {
  img {
    width: 15rem;
  }
}



